<?xml version="1.0" encoding="UTF-8"?>

<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>MyFirstProjec</display-name>
	<servlet>
		<description>
		</description>
		<display-name>CalcServlet</display-name>
		<servlet-name>CalcServlet</servlet-name>
		<servlet-class>com.advancejava.CalcServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.advancejava.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FashionServlet</display-name>
		<servlet-name>FashionServlet</servlet-name>
		<servlet-class>com.advancejava.FashionServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserServlet</display-name>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.advancejava.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>HobbiesValues</display-name>
		<servlet-name>HobbiesValues</servlet-name>
		<servlet-class>com.advancejava.HobbiesValues</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PrimeDemo</display-name>
		<servlet-name>PrimeDemo</servlet-name>
		<servlet-class>com.advancejava.PrimeDemo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ContextDemo</display-name>
		<servlet-name>ContextDemo</servlet-name>
		<servlet-class>com.advancejava.ContextDemo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ConfigDemo</display-name>
		<servlet-name>ConfigDemo</servlet-name>
		<servlet-class>com.advancejava.ConfigDemo</servlet-class>
		<init-param>
			<description>
			</description>
			<param-name>cname</param-name>
			<param-value>JAVA,.NET,PYTHON,ORACLE</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>JavaScriptServlet</display-name>
		<servlet-name>JavaScriptServlet</servlet-name>
		<servlet-class>com.advancejava.JavaScriptServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AravindLogin</display-name>
		<servlet-name>AravindLogin</servlet-name>
		<servlet-class>com.advancejava.AravindLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalcServlet</servlet-name>
		<url-pattern>/CalcServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FashionServlet</servlet-name>
		<url-pattern>/FashionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HobbiesValues</servlet-name>
		<url-pattern>/HobbiesValues</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrimeDemo</servlet-name>
		<url-pattern>/PrimeDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContextDemo</servlet-name>
		<url-pattern>/ContextDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfigDemo</servlet-name>
		<url-pattern>/ConfigDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JavaScriptServlet</servlet-name>
		<url-pattern>/JavaScriptServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AravindLogin</servlet-name>
		<url-pattern>/AravindLogin</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	    <context-param>
    		<param-name>drivername</param-name>
   		    <param-value>com.mysql.jdbc.Driver</param-value>
   		 </context-param>
		<context-param>
			<param-name>url</param-name>
			<param-value>jdbc:mysql://localhost:3306/aravind</param-value>
		</context-param>
		<context-param>
			<param-name>username</param-name>
			<param-value>root</param-value>
		</context-param>
		<context-param>
			<param-name>password</param-name>
			<param-value>root</param-value>
		</context-param>
</web-app>
